---
layout: default
title: Home
permalink: /
---

{% include lang_navi.html %}

<header
  class="masthead"
  style="background-image: url('assets/img/takamatsu.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <!--<div class="site-heading">
                        <h1>{{ site.data.l10n.title | escape }}</h1>
                        <span class="subheading">Takamatsu Community Church is a body of Christ made up of believers whose purpose is to glorify God by living the victorious Christian Life that comes through worship, growth, fellowship, ministry, and outreach.</span>
                    </div>-->
        <div class="site-heading tcc-site-heading-left">
          <h2>{{ site.data.l10n.title | escape }}</h2>
          <span class="subheading">{{ site.data.l10n.subtitle | escape }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="card-deck">
    {% for location in site.data.l10n.locations %}
    <div class="card">
      <img
        class="card-img-top"
        src="{{ location[1].image }}"
        alt="{{ location[1].title }}"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ location[1].title | escape }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ location[1].worship | escape }}
        </h6>
        <p class="card-text">
          {{ location[1].address }}
          <br />
          Phone: {{ location[1].phone }}
        </p>
        {% if location[1].fbpage %}
        <li class="list-inline-item">
          <span class="fa-stack fa-lg"
            ><a href="{{ location[1].fbpage }}"
              ><i class="fa fa-circle fa-stack-2x"></i
              ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a
          ></span>
        </li>
        {% endif %}

        <div class="mt-auto">
          <a href="{{ location[1].mapurl }}" class="btn btn-primary">
            {{ site.data.l10n.btn_learn_more | escape }}
          </a>
        </div>
      </div>
    </div>

    {% endfor %}

    <!--
            <div class="card" >
                <img class="card-img-top" src="assets/img/mure-chapel.png" alt="Mure Chapel">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Mure International Chapel</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Sunday worship starts at 16:00</h6>
                  <p class="card-text">541 Murechohara, Takamatsu, Kagawa 761-0123
                    <br/>
                    Phone: 0877777777
                  </p>
                  
                  <div class="mt-auto">
                    <a href="https://maps.app.goo.gl/Jhxym5bmGCeJTgfq5" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
            </div>
    
            <div class="card" >
                <img class="card-img-top" src="assets/img/center-church.png" alt="Christian Center">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Christian Center</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sunday worship starts at 11:00</h6>
                    <p class="card-text">2-chome-5-15 Tokiwacho, Takamatsu, Kagawa 760-0054
                        <br/>
                        Phone: 0878342870
                    </p>
                    
                    <div class="mt-auto">
                        <a href="https://goo.gl/maps/ErcUk4JPFZZiXDvq7" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
                
            <div class="card" >
                <img class="card-img-top" src="assets/img/seto-uchi-chapel.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Setouchi Chapel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sunday worship starts at 10:00</h6>
                    <p class="card-text">20-15 Setouchicho, Takamatsu, Kagawa 760-0012
                        <br/>
                        Phone: 0878359189
                    </p>
                    
                    <div class="mt-auto">
                        <a href="https://maps.app.goo.gl/v6siL37VoYorKzPg7" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
                    
            <div class="card" >
                <img class="card-img-top" src="assets/img/ayagawa.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Ayagawa Christ Church</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sunday worship starts at 10:00</h6>
                    <p class="card-text">2110 Hatada, Ayagawa, Ayauta District, Kagawa 761-2101
                        <br/>
                        Phone: 0878770433
                    </p>
                    
                    <li class="list-inline-item"><span class="fa-stack fa-lg"><a href="https://www.facebook.com/AyagawaChristChurch"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a></span></li>
                    <div class="mt-auto">
                        <a href="https://maps.app.goo.gl/GnxAoGavyQ9kjysC6" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        -->
  </div>

  <hr />
</div>
