---
layout: default
title: Leadership
permalink: /leadership
comments: false
---

{% include lang_navi.html %}
<header
  class="masthead"
  style="background-image: url('assets/img/post-bg.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading tcc-site-heading-left">
          <h2>Leadreship</h2>
          <span class="subheading"
            >Our Leadership Team works together to provide leadership and
            direction for our church.</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="card-deck">
    {% for leader in site.data.l10n.leaders %}
    <div class="card">
      <img
        class="card-img-top"
        src="{{ leader[1].avatar }}"
        alt="{{ leader[1].name }}"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ leader[1].display_name | escape }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ leader[1].title | escape }}
        </h6>
        <p class="card-text">{{ leader[1].description }}</p>

        <div class="mt-auto">
          <a href="{{ leader[1].contact }}" class="btn btn-primary">
            {{ site.data.l10n.btn_contact | escape }}
          </a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <!--    
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
            </div>
        </div>
    -->
</div>
<hr />
